.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*
.pytest_cache/
.idea/
.vscode/
dist/
build/
node_modules/
*.db

